@import 'helpers/variables';
@import 'helpers/mixins';

// ESTADO VISTO PARA LOS BOTONES DE EXPAND
.btnexpandvisto{
    filter: grayscale(1);
}

// VARIACION DE COLOR EN BOTONES
.btn-secondary{
    background-color: $color-secondary;
    border:1.2px solid darken($color: $color-secondary, $amount: 10);
    color: $color-inverted;
    &:hover {
        background-color: lighten($color: $color-secondary,  $amount: 20);
    }
}
.btn-primary{
    background-color: $color-primary;
    color: $color-inverted;
    border:1.2px solid darken($color: $color-primary, $amount: 10);
    &:hover {
        background-color: lighten($color: $color-primary,  $amount: 15);
    }
}
// VARIACION DE FORMA EN BOTONES
.btn-rounded {
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	cursor:pointer;
	font-size:0.9em;
	padding:5px 10px;
    text-decoration:none;
    font-family: FontBase-Regular;
    &:active {
        position:relative;
        top:1px;
    }
}
.btn-square {
	display:inline-block;
	cursor:pointer;
	font-size:0.9em;
	padding:5px 10px;
    text-decoration:none;
    font-family: FontBase-Regular;
    &:active {
        position:relative;
        top:1px;
    }
}
.btn-img{
    img{
        border: solid 2px $color-secondary;
        border-radius: 5px;
    }
    &:hover{
        img{
           border: solid 4px lighten($color: $color-secondary,  $amount: 15);; 
        }
    }
}