// DEFINICIÓN DE ESQUEMA DE COLORES SEGÚN TEMA

$color-primary:#69A500;
$color-secondary:#FCE428;

$color-complement-one: #0B6F5C;
$color-complement-two: #FF9022;

$color-inverted: #FFF;
$colo-focus:#e4e4e4;
$color-gray:#e2e2e2;

$color-text:#2D2D2D;
$color-titulo:#691C32;

$color-success: #C7F587;
$color-danger: #ED1E46;
$color-warning: #F5D940;

// GRADACIONES
$gradient-primary-up:linear-gradient(180deg, #00008b, gray);
$gradient-secondary-left: linear-gradient(90deg, #00008b, gray);

