{% extends 'core/base.html' %}

{% load static %}

{% block title %}Registro{% endblock %}

{% block content %}
<!-- Cabecera -->
<header class="ajustemenu masthead"  style="background-image: url({% static 'core/img/home-bg.jpg' %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto ">
        <div class="site-heading">
          <!--<h1>Sección de Diagnóstico</h1>
          <span class="subheading">Seleccione las respuestas</span>-->
        </div>
      </div>
    </div>
  </div>
</header>
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row  justify-content-center">
        <div class="col-lg-11 col-md-11 mx-auto">
          <div class="site-heading justify-content-center text-center">
            <h1 class="">Formulario de registro</h1>
              <span class="subheading">
                A continuación deberá registrarse a nuestra plataforma, por favor llene los campos a continuación.
              </span>
          </div>
        </div>
      </div>
      <div class="row mt-5 justify-content-center">
        <div class="col-lg-4 col-md-4">
          <form class="" method="POST" action=""></form>
            <h5 id="titulo">Ingrese el número de registro</h5>
            <div class="form-group mt-5">
              <label for="formGroupExampleInput">Nombre</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Pedro Perez">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Correo</label>
              <input type="email" class="form-control" id="formGroupExampleInput" placeholder="ppere@example.com">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Edad</label>
              <input type="password" class="form-control" id="formGroupExampleInput" placeholder="*********">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Peso</label>
              <input type="password" class="form-control" id="formGroupExampleInput" placeholder="*********">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Altura</label>
              <input type="password" class="form-control" id="formGroupExampleInput" placeholder="*********">
            </div>
            <button type="submit" class="btn btn-info mt-5">Enviar</button>
          </form>
        </div>
        <div class="col-lg-4 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="img/consultarregistro.jpg" alt="">
        </div>
      </div>
    </div>
{% endblock %}